.card-border {
  display: grid;
  grid-template-columns: 0.5fr 4fr 6fr;

  position: relative;
  width: 1151px;
  height: 750px;
  overflow-y: scroll;

  background: #ffffff;
  border-radius: 20px;
  border: 5px solid #8dc442;
  box-sizing: border-box;
  border-radius: 20px;
}

.name {
  position: absolute;
  left: 16.77%;
  right: 66.29%;
  top: 10.93%;
  bottom: 81.07%;

  font-weight: bold;
  font-size: 50px;
  color: #8dc442;
}

.image {
  position: absolute;
  left: 8.69%;
  right: 56.56%;
  top: 22.67%;
  bottom: 24%;
}

.love {
  position: absolute;
  left: 12.5%;
  top: 80.33%;
}

.like {
  position: absolute;
  left: 22.5%;
  top: 80.33%;
}

.dislike {
  position: absolute;
  left: 32.5%;
  top: 80.33%;
}

.info-title {
  font-weight: bold;
  font-size: 29px;
  line-height: 35px;

  color: #8dc442;
}

.info-text {
  font-weight: normal;

  color: black;
}

.age {
  position: absolute;
  left: 50.04%;
  top: 13.33%;
}

.gender {
  position: absolute;
  left: 50.04%;
  top: 23.33%;
}

.breed {
  position: absolute;
  left: 50.04%;
  top: 33.33%;
}

.weight {
  position: absolute;
  left: 50.04%;
  top: 43.33%;
}

.background {
  position: absolute;
  left: 50.04%;
  top: 53.5%;

  font-size: 33px;
}

.background-text {
  position: absolute;
  left: 50.04%;
  top: 63.5%;

  font-size: 18px;
}

.vetting {
  position: absolute;
  left: 50.04%;
  top: 105.5%;

  font-size: 33px;
}

.vetting-text {
  position: absolute;
  left: 50.04%;
  top: 115.5%;

  font-size: 18px;
}
