.container {
  width: 70.677vw;
  height: 36.25vw;
  background: #000000;
  border-radius: 35px;
}

.container-text {
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 1.719vw;
  line-height: 2.083vw;
  color: #ffffff;
  text-align: center;
  padding-top: max(5px, 0.938vw);
  padding-bottom: max(5px, 0.938vw);
}

.calendar-box {
  float: left;
  width: calc(37.115vw - 0.729vw - 0.729vw);
  height: calc(30.365vw - 0.729vw - 0.729vw);
  margin-left: 1.875vw;
  background: #ffffff;
  border-radius: 20px;
  padding: 0.729vw 0.729vw 0.729vw 0.729vw;
}

.left-arrow {
  width: 1.146vw;
  height: 1.99vw;
  float: left;
  cursor: pointer;
  outline: none;
}

.month {
  text-align: center;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 2.24vw;
  color: #000000;
}

.right-arrow {
  width: 1.146vw;
  height: 1.99vw;
  float: right;
  cursor: pointer;
  outline: none;
}

.times-box {
  float: right;
  width: 27.552vw;
  height: 30.365vw;
  margin-right: 1.719vw;
  background: #ffffff;
  border-radius: 15px;
}

.times-box-title {
  margin-top: 1.823vw;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: bold;
  font-size: max(18px, 1.161vw);
  line-height: max(22px, 1.406vw);
  color: #000000;
  text-align: center;
}

.times-box-description {
  margin-top: 0.45vw;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: normal;
  font-size: max(14px, 1.042vw);
  line-height: max(17px, 1.25vw);
  text-align: center;
}

.date {
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: normal;
  font-size: max(14px, 1.161vw);
  line-height: max(17px, 1.406vw);
  color: #000000;
  margin-left: 2vw;
  margin-top: 1.3vw;
}

.meeting-times-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.146vw;
  column-gap: 1.875vw;
  margin-top: 1.25vw;
  margin-left: 2vw;
  width: max-content;
}

.meeting-time {
  width: 10.885vw;
  height: 3.021vw;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline;
  cursor: pointer;
  outline: none;
}

.meeting-time-text {
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: normal;
  font-size: max(14px, 1.161vw);
  line-height: max(17px, 2.021vw);
  text-align: center;
  vertical-align: middle;
  color: #000000;
}

.meeting-time-selected {
  width: 10.885vw;
  height: 3.021vw;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline;
  outline: none;
  background: rgba(141, 196, 66, 0.6);
}

.meeting-time-selected-text-container {
  width: 4.948vw;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
}

.meeting-time-selected-text {
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.161vw;
  line-height: 2.021vw;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .container {
    width: max(288px, 38.4vw);
    height: max(619px, 82.533vw);
  }
  .container-text {
    font-size: max(19px, 2.533vw);
    line-height: max(23px, 2.083vw);
  }

  .calendar-box {
    width: max(calc(265.28px - 0.729vw - 0.729vw), calc(35.371vw - 0.729vw - 0.729vw));
    height: max(calc(220px - 0.729vw - 0.729vw), calc(29.333vw - 0.729vw - 0.729vw));
    margin-left: max(11px, 1.467vw);
    float: none;
    margin-top: max(20px, 2.667vw);
    margin-bottom: max(1.6vw, 12px);
  }
  .left-arrow {
    width: max(8.595px, 1.146vw);
    height: max(14.925px, 1.99vw);
  }

  .month {
    font-size: max(18.1132px, 2.415vw);
    line-height: max(22px, 2.933vw);
  }
  .right-arrow {
    width: max(8.595px, 1.146vw);
    height: max(14.925px, 1.99vw);
  }
  .times-box {
    float: left;
    width: max(267px, 35.6vw);
    height: max(308px, 41.067vw);
    margin-left: max(11px, 1.467vw);
  }

  .times-box-title {
    margin-top: max(2.823vw, 13.6725px);
    font-size: max(18px, 2.4vw);
    line-height: max(22px, 2.933vw);
  }

  .times-box-description {
    margin-top: max(3.375px, 0.45vw);
    font-size: max(14px, 1.867vw);
    line-height: max(17px, 2.267vw);
  }

  .date {
    font-size: max(14px, 1.867vw);
    line-height: max(17px, 2.267vw);
    margin-left: max(23px, 3.067vw);
    margin-top: max(15.75px, 2.1vw);
  }

  .meeting-times-container {
    row-gap: max(11.09px, 1.479vw);
    column-gap: max(18.15px, 2.42vw);
    margin-top: max(9.375px, 1.25vw);
    margin-left: max(23px, 3.067vw);
  }

  .meeting-time {
    width: max(13.453vw, 100.8975px);
    height: max(29.25px, 3.9vw);
  }

  .meeting-time-text {
    font-size: max(14px, 1.867vw);
    line-height: max(17px, 2.267vw);
  }

  .meeting-time-selected {
    width: max(13.453vw, 100.8975px);
    height: max(29.25px, 3.9vw);
  }

  .meeting-time-selected-text-container {
    width: max(46.22px, 6.163vw);
  }

  .meeting-time-selected-text {
    font-size: max(11.1971px, 1.493vw);
    line-height: max(15px, 2vw);
  }
}
