#default-body {
  display: grid;
  grid-template-columns: 300px auto;
}

#default-body-navbar {
  grid-column: 1;
}

#default-body-container {
  grid-column: 2;
  padding: 100px 0 0 65px;
}

@media only screen and (max-width: 750px) {
  #default-body {
    display: block;
  }
  #default-body-container {
    padding: 50px 0px 0px 69px;
  }
  #default-body-navbar {
    display: none;
  }
}
