#default-body {
  display: grid;
  grid-template-columns: max(250px, 16vw) auto;
}

#default-body-container {
  grid-column: 2;
  padding: 65px;
}

@media only screen and (max-width: 750px) {
  #default-body {
    display: block;
  }
  #default-body-container {
    padding: 50px 0px 0px 16vw;
  }
}
