#header {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1.5fr 4fr 1fr;
  column-gap: 5%;
  height: 130px;
  width: 100%;
  box-sizing: border-box;
}

.header-welcome img {
  height: inherit;
}

.header-welcome {
  grid-column: 1;
  text-align: left;
  font-size: 25px;
  height: inherit;
  display: flex;
}

.header-welcome-text {
  padding-top: 20px;
  text-align: right;
}

#foster-text {
  color: #8dc442;
}

.header-message {
  grid-column: 2;
  font-size: 24px;
  position: relative;
}

.header-message-text {
  padding-top: 10px;
  position: absolute;
  left: 0;
  bottom: 10px;
}

.header-sign-out {
  grid-column: 3;
  font-size: 25px;
}

.navbar-hamburger-button {
  grid-column: unset;
  display: none;
  padding-top: 63px;
  padding-right: 0px;
}

@media only screen and (max-width: 750px) {
  .header-message {
    display: none;
    grid-column: unset;
  }
  .header-sign-out {
    display: none;
    grid-column: unset;
  }
  .navbar-hamburger-button {
    display: block;
    grid-column: 2;
    width: 43px;
  }
  .header-welcome-text {
    font-size: 20px;
    padding-top: 48px;
    padding-bottom: 3px;
    line-height: 24px;
  }
  .foster-text {
    font-size: 18px;
    line-height: 21.6px;
  }
  #header {
    height: 97px;
    grid-template-columns: auto 55px;
  }
  .header-welcome img {
    width: 47px;
    height: inherit;
  }
}
