#header {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1.5fr 4fr minmax(104px, auto);
  column-gap: 1%;
  height: 130px;
  width: 100%;
  box-sizing: border-box;
}

.header-welcome img {
  width: 101px;
  height: 84px;
  padding: 12px calc(8px + 0.6vw) 0px 23px;
}

.header-welcome {
  grid-column: 1;
  text-align: left;
  font-size: calc(15px + 0.61vw);
  height: inherit;
  display: flex;
}

.header-welcome-text {
  padding-top: 20px;
  text-align: right;
}

#foster-text {
  color: #8dc442;
}

.header-message {
  grid-column: 2;
  font-size: calc(14px + 0.6vw);
  position: relative;
  padding-left: calc(40px + 2.2vw);
}

.header-message-text {
  padding-top: 10px;
  padding-left: inherit;
  position: absolute;
  left: 0;
  bottom: 10px;
}

.header-sign-out {
  padding-top: 20px;
  grid-column: 3;
  font-size: calc(14px + 0.6vw);
  cursor: pointer;
}

.navbar-hamburger-button {
  grid-column: unset;
  display: none;
  padding-top: 63px;
  padding-right: 0px;
}

@media only screen and (max-width: 1000px) {
  #header {
    grid-template-columns: 3fr 4fr minmax(104px, auto);
  }
}

@media only screen and (max-width: 750px) {
  .header-message {
    display: none;
    grid-column: unset;
  }
  .header-sign-out {
    display: none;
    grid-column: unset;
  }
  .navbar-hamburger-button {
    display: block;
    grid-column: 2;
    width: 55px;
    text-align: right;
    padding-right: 15px;
  }
  .navbar-hamburger-button img {
    padding-right: 0px;
  }
  .header-welcome-text {
    font-size: calc(10px + 2.2vw);
    padding-top: 42px;
    padding-bottom: 3px;
    line-height: 1.05;
  }
  .foster-text {
    font-size: 18px;
    line-height: 21.6px;
  }
  #header {
    height: 97px;
    grid-template-columns: calc(100% - 70px) 70px;
    column-gap: 0;
  }
  .header-welcome img {
    padding: 42px 0px 0px 9px;
    width: 55px;
    height: 43px;
  }
}
