.left-panel {
  background: white;

  position: absolute;
  width: 50%;
  left: 0px;
  top: 130px;
  bottom: 0px;

  display: flex;
  justify-content: center;
}

.form-container {
  position: relative;
  width: 63%;
  height: 65%;
  min-height: 300px;
  max-height: 600px;
  margin: auto;

  background: white;
  border: 0.25px solid rgba(0, 0, 0, 0.493);
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-header {
  position: absolute;
  bottom: 85%;
  height: 40px;

  color: black;
  font-weight: bold;
  font-size: 33px;
}

.form-landing-question {
  position: absolute;
  bottom: 65%;
  height: 24px;

  color: black;
  font-size: 20px;
}

.button-border-foster {
  position: absolute;
  bottom: 45%;
  min-width: 175px;
  height: 11%;
}

.button-name-foster {
  font-size: calc(12.5px + 1vh);
}

.button-name-admin {
  font-size: calc(12.5px + 1vh);
}

.button-border-admin {
  position: absolute;
  bottom: 25%;
  min-width: 175px;
  height: 11%;
}

.right-panel {
  background: #8dc442;

  position: absolute;
  width: 50%;
  right: 0px;
  top: 130px;
  bottom: 0px;

  display: flex;
  justify-content: center;
}

.dog-image {
  height: auto;
  width: auto;
  max-height: 80%;
  max-width: 80%;
  margin: auto;
}

.copyright,
.copyright-mobile {
  position: absolute;
  width: 80%;
  right: 3%;
  bottom: 2%;

  color: black;
  font-weight: bold;
  font-size: calc(7px + 0.4vw);
  text-align: right;
  line-height: 2;
}

.copyright-mobile {
  display: none;
}

@media only screen and (max-width: 1050px) {
  .right-panel,
  .dog-image,
  .copyright {
    display: none;
  }

  .left-panel {
    background-color: #8dc442;
    width: 100%;
    top: 97px;
  }

  .form-container {
    width: 74%;
    height: 45%;
    min-height: 270px;
    max-height: 400px;
    position: absolute;
    bottom: 32.5%;

    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .form-header {
    color: black;
    font-weight: bold;
    font-size: 33px;

    position: absolute;
    top: 5%;

    height: 40px;
  }

  .form-landing-question {
    color: black;
    font-size: 20px;

    position: absolute;
    top: 28%;

    height: 24px;
  }

  .button-name-foster,
  .button-name-admin {
    font-size: 17px;
  }

  .button-border-foster,
  .button-border-admin {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 14.25px;

    max-width: 142.5px;
    width: 52.5%;
    height: 50px;
  }

  .button-border-foster {
    position: absolute;
    bottom: 39%;
  }

  .button-border-admin {
    position: absolute;
    bottom: 13%;
  }

  .copyright-mobile {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 15px;
    right: 10px;

    font-size: calc(10px + 0.4vw);
    line-height: 2;
  }
}

@media only screen and (max-height: 750px) {
  .copyright {
    font-size: calc(5px + 0.4vw);
  }
}
