.meeting-card {
  display: flex;
  border-radius: 15px;
  background: #000000;
  display: flex;
  text-align: center;
  flex-direction: column;
  text-align: center;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 40px;
  /* height: calc(100% - 40px); */
  width: 100%;
  /* max-height: 700px; */
}

.meeting-card h2 {
  font-size: 2em;
  margin: 10px;
}

.meeting-card-content {
  display: flex;
  flex: 4;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  text-align: center;
  width: 100%;
}

.text-card {
  background: #fff;
  flex: 2;
  border-radius: 15px;
  padding: 2%;
  text-align: left;
  max-width: 50%;
}

.image-card {
  margin-left: 2vw;
  flex: 2;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.info-card {
  margin-left: 2vw;
  flex: 2;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  /* width: min(100%, 550px);
  height: min(100%, 590px); */
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.status {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

@media only screen and (max-width: 1250px) {
  .meeting-card {
    padding-right: 35px;
    min-width: 400px;
  }
}

@media only screen and (max-width: 750px) {
  .meeting-card {
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 5px;
    padding-bottom: 3%;
    font-size: 1.2em;
  }

  .meeting-card-content {
    flex-direction: column;
  }

  h2 {
    font-size: 1.5em;
  }

  .text-card {
    flex: 2;
    min-height: 50vw;
    width: auto;
    margin: 1.5;
    max-width: unset;
  }

  .image-card {
    flex: 2;
    margin: 1.5%;
  }

  .info-card {
    flex: 2;
    margin: 1.5%;
  }

  .image {
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: 1.5em;
  }
  .meeting-card {
    font-size: 1em;
  }
}
