.status-card {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  padding-top: 2vw;
  padding-bottom: 1vw;
}

.pfp {
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 0px;
  float: left;
}

.card-title {
  color: black;
}

.information-grid {
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: 50% 50%;
  text-align: left;
  margin: 20px;
  padding: 15px;
}

.ambassador-left {
  padding-top: 2em;
}

.ambassador-right {
  padding-top: 2em;
  float: left;
}

.box-ambassador {
  padding-left: 2vw;
  grid-row: 1;
}

.box-contact {
  padding-left: 2vw;
  grid-row: 3;
}

.box-email {
  grid-row: 4;
  grid-column-start: 2;
  padding-left: 2vw;
}

.box-date {
  padding-left: 2vw;
  grid-row: 6;
}

.box-time {
  padding-left: 2vw;
  grid-row: 8;
}

.box-location {
  padding-left: 2vw;
  grid-row: 10;
}

.line1 {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.line2 {
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}

.line3 {
  grid-row: 7;
  grid-column-start: 1;
  grid-column-end: 3;
}

.line4 {
  grid-row: 9;
  grid-column-start: 1;
  grid-column-end: 3;
}

.line {
  height: 2px;
  color: #8dc442;
  background-color: #8dc442;
}

@media only screen and (max-width: 750px) {
  .pfp {
    /* float: right; */
    width: 10vw;
    height: 10vw;
    vertical-align: bottom;
  }

  .ambassador-left {
    padding-top: 2em;
  }

  .ambassador-right {
    padding-top: 2em;
    float: left;
  }
}

@media only screen and (max-width: 300px) {
  .pfp {
    /* float: right; */
    width: 10vw;
    height: 10vw;
    vertical-align: bottom;
  }

  .ambassador-left {
    padding-top: 1em;
  }

  .ambassador-right {
    padding-top: 0em;
    float: left;
  }
}
