html,
.inputArea,
.sendButton {
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

.contactLanding {
  position: absolute;
  width: max(400px, 36%);
  height: 55%;
  left: 42%;
  top: 27%;

  background: #ffffff;
  border: 5px solid #8dc442;
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  text-align: center;
}

.helpQuestion {
  margin: 50px 0%;
  color: #000000;
}

.selection {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 10px;
  width: 60%;
  margin: 0% 20%;
  height: 55px;
  color: #53575a;
  padding: 0% 3%;
  outline: none;
  font-size: 27px;

  background: url("./dropdownArrow.png") no-repeat 90% #c6c6c6;
}

.continueButton {
  position: absolute;
  width: max(130px, 25%);
  height: 10%;
  right: 20px;
  bottom: 20px;
  text-align: center;
  font-size: 30;

  background: #8dc442;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  border: none;
  font-family: Nunito;
  font-size: 27px;
}

/* Styling for send message page */

.newMessage {
  position: absolute;
  width: 65%;
  height: 600px;
  left: 30vw;
  top: 27%;

  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.topBar {
  position: absolute;
  width: 100%;
  height: 112px;
  font-weight: 700;
  padding-left: 4%;
  padding-top: 1%;
  padding-right: 1%;
  background: #8dc442;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 15px 15px 0px 0px;

  color: #ffffff;

  display: flex;
  justify-content: space-between;
}

.cancel {
  padding-right: 10px;
  background: none;
  border: none;
}

.selection2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 55px;
  color: #53575a;
  padding: 0% 3%;
  position: relative;
  top: 112px;
  outline: none;
  font-size: 27px;

  background: url("./dropdownArrow.png") no-repeat 90% #c6c6c6;
}

.inputArea {
  position: relative;
  width: 96%;
  height: 397px;
  top: 125px;
  left: 2%;
  direction: ltr;
  padding: 2%;
  outline: none;
  resize: none;

  background: #ffffff;
  border: 0.5px solid #9b9a9a;
  box-sizing: border-box;
  border-radius: 15px;
}

.sendButton {
  background: #8dc442;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;

  color: white;
  width: min(18vw, 191px);
  height: 59px;
  z-index: 2;
  position: relative;
  float: right;
  margin-right: 5%;
  top: 7%;
}

.messageReceived {
  position: absolute;
  z-index: 3;
  width: 21vw;
  height: 16vh;
  left: 35%;
  top: 45%;
  text-align: center;
  background-color: white;

  border: 5px solid #8dc442;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 18px;
}
.message {
  padding: 0%;
}

.smallCancel {
  border: none;
  background: none;
  position: absolute;
  top: 5%;
  left: 2%;
}

/* Mobile Views */

@media screen and (max-width: 750px) {
  .contactLanding {
    width: 90%;
    margin: 0% 5%;
    padding: 5%;
    left: 0;
  }
  .newMessage {
    left: 0;
    width: 90%;
    margin: 0% 5%;
  }
  .messageReceived {
    width: 50%;
    left: 25%;
    font-size: 16px;
  }
  .sendButton {
    font-size: 20px;
  }
  .selection,
  .selection2,
  .inputArea {
    font-size: 17px;
  }
  .selection2{
    width: 250px;
  }
}
