p Hello #[strong Team:] #{team}
br
p You have received a message from #[strong Name:] #{name} via the Contact Page on The Animal Pad website. Here is the message:
p p #[strong Message:]
br
p The Animal PaP
