.right-panel {
  background: #8dc442;

  position: absolute;
  width: 50%;
  right: 0px;
  top: 130px;
  bottom: 0px;

  display: flex;
  justify-content: center;
}

.dog-image {
  height: auto;
  width: auto;
  max-height: 80%;
  max-width: 80%;
  margin: auto;
}

.copyright {
  position: absolute;
  width: 80%;
  right: 3%;
  bottom: 2%;

  color: black;
  font-weight: bold;
  font-size: 15px;
  text-align: right;
  line-height: 2;
}

.left-panel {
  background: white;

  position: absolute;
  width: 50%;
  left: 0px;
  top: 130px;
  bottom: 0px;

  display: flex;
  justify-content: center;
}

.form-container {
  position: relative;
  width: 63%;
  height: 65%;
  margin: auto;

  background: white;
  border: 0.25px solid rgba(0, 0, 0, 0.493);
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-header {
  position: absolute;
  bottom: 85%;
  height: 40px;

  color: black;
  font-weight: bold;
  font-size: 33px;
}

.form-landing-question {
  position: absolute;
  bottom: 65%;
  width: 100px;
  height: 24px;

  color: black;
  font-size: 20px;
}
