.meeting-card {
  border-radius: 15px;
  background: #000000;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: left;
  width: 80%;
  height: 40%;
  overflow: auto;
  margin: 5px;
  flex-wrap: wrap;
  text-align: center;
  /* padding:10px; */
}

.title {
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 3px;
}

.text-card {
  margin: 10px;
  background: #fff;
  flex: 3;
  border-radius: 15px;
  width: 60%;
  padding: 5px;
  text-align: left;
}

.image-card {
  margin: 10px;
  flex: 2;
  border-radius: 15px;
  /* width:auto;
    height:auto; */
  width: 100%;
  height: 100%;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.status {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.break {
  flex-basis: 100%;
  height: 0;
}
