.myprofile-button {
  cursor: pointer;
  outline: none;
  width: 232px;
  height: 74px;
  background: #c6e2a1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  float: right;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
}

.myprofile-button-text {
  float: left;
  color: #000000;
  line-height: 74px;
  padding-left: 27px;
}

.myprofile-button-image-container {
  float: right;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  padding-right: 20px;
  line-height: 110px;
}

.myprofile-button-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 630px) {
  .myprofile-button {
    width: max(63px, 36.825vw);
    height: 11.746vw;
    font-size: 3.968vw;
    margin-left: -0.794vw;
  }

  .myprofile-button-text {
    line-height: 11.746vw;
    padding-left: 3.286vw;
  }

  .myprofile-button-image-container {
    width: 8.571vw;
    height: 8.571vw;
    padding-right: 3.175vw;
    line-height: 17.46vw;
  }
}

@media only screen and (max-width: 875px) {
  .myprofile-button {
    float: none;
    position: absolute;
    margin-left: -5px;
    margin-bottom: 1000px;
  }
}
