.popup-box {
  position: fixed;
  background: rgba(112, 112, 112, 0.1);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: hidden;
}

.box {
  position: relative;
  width: auto;
  max-width: 85vh;
  min-width: 767px;
  margin: 0 auto;
  height: auto;
  max-height: 85vh;
  margin-top: calc(100vh - 85vh - 40px);
  background: #fff;
  border-radius: 54.1399px;
  overflow: auto;
}

.close-icon {
  content: "✕";
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  margin-left: 25px;
  margin-top: 25px;
  border-radius: 50%;
  line-height: 20px;
  font-size: 20px;
  outline: none;
}

.box-divider {
  box-sizing: border-box;
  margin: 0 auto;
  width: auto;
  max-width: 766px;
  height: 3px;
  background: #8dc442;
  border-radius: 13.535px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 100%;
}

.box-section1 {
  padding: 77px 160px 29px 160px;
}

.pfp-container {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-left: -18px;
  border-radius: 50%;
  padding-right: 30px;
  line-height: 90px;
}

.pfp {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.blurred-pfp {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: blur(1px) brightness(50%);
}

.edit-pfp-button {
  cursor: pointer;
  position: absolute;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  width: 66px;
  height: 23px;
  top: 34px;
  margin: 0 12px;
}

.edit-pfp-button-text {
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 23px;
  color: #ffffff;
  text-align: center;
}

.name-text {
  display: inline-block;
  vertical-align: 50%;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 51.0625px;
  line-height: 61px;

  color: #000000;
}

.box-section1-text {
  margin-top: 37px;
  font-family: Myriad Pro;
  font-style: normal;
  font-size: 27px;
  line-height: 36px;
}

.box-section1-text-bold {
  display: inline-block;
  font-weight: bold;
}

.box-section2 {
  padding: 0px 160px 15px 160px;
}

.box-section2-text {
  font-family: Myriad Pro;
  font-style: normal;
  font-size: 27px;
  line-height: 95px;
}

.box-section2-text-bold {
  font-weight: bold;
}

.text-left {
  white-space: nowrap;
  display: inline-block;
}

.text-right {
  position: absolute;
  left: 399px;
  display: inline-block;
}

.user-info {
  padding-left: 72.5px;
}

.user-info-editable {
  line-height: 68px;
  text-align: center;
  outline: 0px solid transparent;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px 5px;
}

.user-info-container {
  display: inline-block;
  width: 330px;
  height: 68px;
  border: 3px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 25px;
}

.change-password-button {
  margin-top: 62px;
  margin-left: auto;
  margin-right: auto;
  width: 329px;
  height: 74px;
  background: #8dc442;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  cursor: pointer;
}

.change-password-button-text {
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 30.1662px;
  color: #ffffff;
  line-height: 74px;
}

.edit-profile-button {
  cursor: pointer;
  float: right;
  margin-right: 40px;
  margin-top: 29px;
  margin-bottom: 25px;
}

.edit-profile-text {
  margin-left: 5px;
  display: inline-block;
  vertical-align: bottom;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}

.edit-profile-image-container {
  display: inline-block;
  width: 34px;
  height: 34px;
}

.edit-profile-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.save-changes-button {
  width: 235px;
  height: 74px;
  background: #8dc442;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  cursor: pointer;
  float: right;
  margin-right: 40px;
  margin-top: 117px;
  margin-bottom: 36px;
  outline: none;
}

.save-changes-text {
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 30.1662px;
  color: #ffffff;
  line-height: 74px;
}

@media screen and (max-width: 750px) {
  .box {
    width: 80%;
    min-width: 0px;
    margin-top: calc(100vh - 85vh - 5.333vw);
  }

  .box-divider {
    width: 85%;
  }
  .pfp-container {
    width: max(42px, 13.333vw);
    height: max(42px, 13.333vw);
    margin-top: 20px;
    margin-left: -2.4vw;
    padding-right: 4vw;
    line-height: 12vw;
  }

  .edit-pfp-button {
    width: max(33px, 8.8vw);
    height: max(12px, 3.067vw);
    top: max(15px, 4.533vw);
    margin: 0 max(5px, 1.6vw);
  }

  .edit-pfp-button-text {
    font-size: 1.333vw;
    line-height: max(8px, 3.067vw);
    min-width: 21px;
  }
  .name-text {
    font-size: 6.808vw;
    line-height: 8.133vw;
  }

  .box-section1 {
    padding: 10.267vw 5.333vw 3.867vw 5.333vw;
  }

  .close-icon {
    line-height: 2.667vw;
    margin-bottom: 10px;
  }

  .box-section1-text {
    margin-top: 4.933vw;
    font-family: Myriad Pro;
    font-style: normal;
    font-size: 3.6vw;
    line-height: 4.8vw;
  }

  .box-section2 {
    padding: 0vw 5.333vw 2vw 5.333vw;
  }

  .box-section2-text {
    font-family: Myriad Pro;
    font-style: normal;
    font-size: 3.6vw;

    line-height: 12.667vw;
  }

  .text-right {
    left: 33vw;
  }

  .user-info {
    padding-left: 9.667vw;
  }

  .user-info-editable {
    line-height: 9.067vw;
  }

  .user-info-container {
    display: inline-block;
    margin-left: 10vw;
    width: 30vw;
    height: 9.067vw;
  }
  .change-password-button {
    margin-top: 8.267vw;
    width: 43.867vw;
    height: 9.867vw;
    overflow: hidden;
  }

  .change-password-button-text {
    font-size: 4.022vw;
    line-height: 9.867vw;
  }

  .edit-profile-button {
    margin-right: 15vw;
    margin-top: 3.867vw;
    margin-bottom: 8vw;
    outline: none;
  }

  .edit-profile-text {
    font-size: 4vw;
  }

  .edit-profile-image-container {
    display: inline-block;
    width: 4.533vw;
    height: 4.533vw;
  }
  .save-changes-button {
    width: 31.333vw;
    height: 9.867vw;
    margin-right: 25vw;
    margin-top: 15.6vw;
    margin-bottom: 4.8vw;
  }

  .save-changes-text {
    font-size: 4.022vw;
    line-height: 9.867vw;
    width: 31vw;
    height: 9.867vw;
    overflow: hidden;
  }
}
