.profile-card {
  position: relative;
  width: 245.98px;
  height: 140px;
  padding: 0px 10px 10px 0px;
  background: #ffffff;
  border: 0.327103px solid #9b9a9a;
  box-sizing: border-box;
  box-shadow: 0px 2.61682px 2.61682px rgba(0, 0, 0, 0.5);
  border-radius: 9.81308px;
  margin-bottom: 40px;
}

.profile-card-text {
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
  margin-left: 121px;
  padding-top: 21px;
  padding-bottom: 26px;
}

.profile-card-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  width: 135px;
}

.profile-card-contact-info {
  font-size: 13px;
  line-height: 16px;
  margin-top: 20px;
  width: 135px;
}

.profile-card-image-container {
  float: left;
  width: 63px;
  height: 63px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 50%;
}

.profile-card-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 630px) {
  .profile-card {
    width: 39vw;
    height: 22.222vw;
    padding: 0px 1.587vw 1.587vw 0px;
    margin-bottom: 6.349vw;
  }

  .profile-card-text {
    margin-left: 19.206vw;
    padding-top: 3.333vw;
    padding-bottom: 4.127vw;
  }

  .profile-card-name {
    font-size: 2.54vw;
    line-height: 3.016vw;
  }

  .profile-card-contact-info {
    font-size: 2.063vw;
    line-height: 2.54vw;
    margin-top: 3.175vw;
  }

  .profile-card-image-container {
    width: 10vw;
    height: 10vw;
    margin-left: 3.175vw;
    margin-top: 3.175vw;
  }
}
