.profile-section {
  width: 90%;
  height: auto;
  margin-top: 33px;
  margin-left: 55px;
  margin-bottom: 45px;
}

.profile-section-title {
  display: inline-block;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 44px;
  color: #000000;
  width: auto;
}

.profile-section-divider {
  width: 481px;
  height: 3px;
  margin-top: 11px;
  background: #000000;
  border-radius: 50px;
}

.profile-section-link {
  display: inline-block;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-left: 120px;
}

.profile-section-link a {
  color: #000000;
  text-decoration: none;
}

.profile-section-link-arrow {
  position: absolute;
  margin-left: 10px;
  display: inline-block;
}

.profile-section-cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 40px;
  column-gap: 26px;
  margin: 35px -5px;
  width: max-content;
}

.profile-section-card {
  height: auto;
  width: auto;
  display: inline;
}

@media only screen and (max-width: 1384px) {
  .profile-section-card:nth-child(5n) {
    display: none;
  }
  .profile-section-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1116px) {
  .profile-section-card:nth-child(5n - 1) {
    display: none;
  }
  .profile-section-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 875px) {
  .profile-section {
    height: 441px;
  }
  .profile-section-title {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 849px) {
  .profile-section-card:nth-child(5n - 2) {
    display: none;
  }
  .profile-section-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 630px) {
  .profile-section {
    height: 70vw;
    margin-top: 5.238vw;
    margin-left: 8.73vw;
    margin-bottom: 7.143vw;
  }

  .profile-section-title {
    font-size: 5.873vw;
    line-height: 6.984vw;
    margin-top: 15.873vw;
  }

  .profile-section-divider {
    width: 76.349vw;
    height: 0.476vw;
    margin-top: 1.746vw;
  }

  .profile-section-link {
    font-size: 3.175vw;
    margin-left: 19vw;
  }
  .profile-section-cards-container {
    row-gap: 6.349vw;
    column-gap: 4.127vw;
    margin: 5.556vw -0.794vw;
  }
}
